/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/montserrat-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/nunito-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-700 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/nunito-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*Global*/
:root {
    --general-color: #f9f9F9;
    --grey-light: #f0f0f0;
    --accent-color: #e9563f;
    --light-orange: #e9563f29;
    --text-color:#ffffff;
    --grey: #00000019;
    --text-color-black: #333333;
    --tilte-color: #171717;
    --card-color: #00000014;
}

/*typographie*/

body {
    font-family: nunito, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: var(--text-color-black);
    
}

h1 {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-size: 6.4rem;
    line-height: 1.2;
    color: var(--tilte-color);
}

h1 span{
    font-weight: 700;
}

h2 {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-size: 5.4rem;
    line-height: 1.2;
    color: var(--tilte-color)
}

h2 span {
    font-family: montserrat, sans-serif;
    font-weight: 700;
}

h3 {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.2;
    color: var(--tilte-color);
    padding-bottom: 2.3rem;
}

p {
    
    font-size: 1.8rem;
    line-height: 1.6;
    color: var(--text-color-black);
}

.process-item p {
    font-size: 1.4rem;
    line-height: 1.7;
    color: #333333;
}

.sous-tilte {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    line-height: 1.8;
    color: var(--accent-color);
    padding-bottom: 0.6rem;
}

/*Layout*/

.container {
    width: 100%;
    max-width: 113rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

/*header*/

.main-header {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    background-color: var(--grey-light);
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    flex-wrap: wrap;
    align-items: center;
}
.main-content{
    background-color: var(--grey-light);
}

.logo {
    display: flex;
}

/* Navigation */

.menu {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    
}

.menu-item {
    display:flex;
    font-weight: 700;
    flex-wrap: wrap;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: var(--text-color-black);
}

/* Hero */

.hero {
    padding-top: 8.1rem;
    padding-bottom: 14.7rem;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
}

.hr-line {
    background-color: var(--accent-color);
    height: 0.5rem;
    width: 7.6rem;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 0;
    margin-left: 0;
    border: 0;
}

.link-list {
    display: flex;
    gap: 1.6rem;
    padding-top: 3.4rem;
    transition: .3s;
}

.link-item-1:hover,
.link-item-1:focus {
    background-color: var(--general-color);
    color: var(--accent-color);
    transition: .3s;
}

.link-item-2:hover,
.link-item-2:focus {
    background-color: var(--accent-color);
    color: var(--general-color);
    transition: .3s;
}

.link-item-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.8rem;
    height: 4.5rem;
    background-color: var(--accent-color);
    border-radius: 5rem;
}

.link-item-2{
     display: flex;
    justify-content: center;
    align-items: center;
    width: 16.8rem;
    height: 4.5rem;
    border-radius: 5rem;
    background-color: var(--general-color);
    box-shadow: 0 0.3em 1em #e9563f29;
}

.link-item-1 a{
    color: #fff;
    font-size: 1.4rem;
}

.link-item-2 a{
    color: var(--accent-color);
    font-size: 1.4rem;
    
}

.hero .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.8rem;
}

.picture figure{
    display: flex;
    justify-content: center;
}

figure img {
    border-radius: 2rem;
}

.social-list {
    display: flex;
    gap: 2.6rem;
    padding-top: 6rem;
    justify-content: center;
}

.social-item{
    width: 2.6rem;
    height: 2.6rem;
    opacity: 0.5;
}

/*UX design*/

.ux-content {
    background-color: var(--general-color);
    padding-top: 5.6rem;
    padding-bottom: 11.2rem;
}

.ux-content .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.8rem;
}

.ux-content h2 {
    padding-bottom: 2.7rem;
} 

/*data */

.data-content {
    background-color: var(--general-color);
    padding-bottom: 11.2rem;
}

.data-content .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.8rem;
    
}

.data-content h2 {
    padding-bottom: 2.7rem;
} 

.left-picture {
    order: -1;
}

.right-text {
    padding-left: 12.1rem;
}

/*front*/

.front-content {
    background-color: var(--general-color);
    padding-bottom: 11.2rem;
}

.front-content .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.8rem;
}

.front-content h2 {
    padding-bottom: 2.7rem;
} 

/* Création */

.creation-content {
    background-color: var(--general-color);
    padding-bottom: 11.2rem;
}

.creation-content .container h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

.creation-content .sous-tilte {
    display: flex;
    justify-content: center;
}

.creation-content ol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.8rem;
}

.process-item {
    background-color: var(--text-color);
    padding: 3.3rem;
    text-align: center;  
}

.process-item span {
    color: var(--accent-color);
}