/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/montserrat-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/nunito-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-700 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/nunito-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*Global*/
:root {
    --general-color: #f9f9F9;
    --grey-light: #f0f0f0;
    --accent-color: #e9563f;
    --light-orange: #e9563f29;
    --text-color:#ffffff;
    --grey: #00000019;
    --text-color-black: #333333;
    --tilte-color: #171717;
    --card-color: #00000014;
}

.no-scroll {
    overflow: hidden;
}


/*typographie*/

body {
    font-family: nunito, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.6;
    color: var(--text-color-black);
    background-color: var(--general-color);
}

h1,
h2,
h3 {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    color: var(--tilte-color);
}

h1 {
    /* font-size: 6.4rem; */
    font-size: 3.5em;
    font-size: clamp(3.5rem, 5vw, 6.4rem);
    line-height: 1.2;
}

h1 span{
    font-weight: 700;
}

h2 {
    /* font-size: 5.4rem; */
    font-size: 3.2rem;
    font-size: clamp(3.2rem, 1.7rem + 3.090909090909091vw, 5.4rem);
    line-height: 1.2;
}

h2 span {
    font-family: montserrat, sans-serif;
    font-weight: 700;
}

h3 {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.2;
    margin-bottom: .88em;
}

p {
    font-size: 1.8rem;
    /* font-size: 1.6rem;
    font-size: clamp(1.6rem, 1.28rem + 0.7272727272727273vw, 1.8rem); */
}

li > a {
    text-decoration: none;
}

.process-item p {
    font-size: 1.4rem;
    line-height: 1.7;
    color: #333333;
}

.sous-tilte {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    line-height: 1.8;
    color: var(--accent-color);
    padding-bottom: .7em;
}

/*Layout*/

.container {
    width: 100%;
    max-width: 113rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

/*header*/

.main-header {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    background-color: var(--grey-light);
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    flex-wrap: wrap;
    align-items: center;
}


/* Navigation */
.toggle-menu {
    position: relative;
    z-index: 1000;
    display: grid;
    gap: .5rem;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.bar {
    width: 3rem;
    height: 0.4rem;
    background-color: var(--tilte-color);
    transition: .3s;
    transform-origin: left;
}

.toggle-menu[aria-expanded="true"] .bar:first-child {
    transform: rotate(40deg);
}

.toggle-menu[aria-expanded="true"] .bar:last-child {
    transform: rotate(-40deg);
}

.toggle-menu[aria-expanded="true"] .bar:nth-child(even) {
    opacity: 0;
}

@media screen and (max-width: 47.999em) {
    .menu {
        display: grid;
        place-content: center;
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--grey-light);
        text-align: center;
        transform: translateX(-100%);
        transition: 1s;
        visibility: hidden;
        pointer-events: none;
    }
    
    .menu:not([hidden]) {
        transform: translateX(0);
        visibility: visible;
        pointer-events: all;
    }
}

@media screen and (min-width: 48em) {
    .toggle-menu {
        display: none;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;;
    }
}



.menu {
    gap: 2.5rem;
    flex-wrap: wrap;
}

.menu-item {
    display:flex;
    font-weight: 700;
    flex-wrap: wrap;
}

.menu-link {
    text-decoration: none;
    color: var(--text-color-black);
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    border: .2rem solid var(--accent-color);
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: right;
    transition: .3s;
}

.underline:hover::before,
.underline:focus::before {
    visibility: visible;
    transform: scaleX(1);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color)
}

/* Hero */

.hero {
    padding-top: 8.1rem;
    padding-bottom: 14.7rem;
    background-color: var(--grey-light);
}

.hr-line {
    background-color: var(--accent-color);
    height: 0.5rem;
    width: 7.6rem;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 0;
    margin-left: 0;
    border: 0;
}

.link-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    padding-top: 3.4rem;
    transition: .3s;
}


.link-item-1:hover,
.link-item-1:focus {
    background-color: var(--general-color);
    color: var(--accent-color);
    transition: .3s;
}

.link-item-2:hover,
.link-item-2:focus {
    background-color: var(--accent-color);
    color: var(--general-color);
    transition: .3s;
}
.link-item-1:hover a,
.link-item-1:hover a {
    color: var(--accent-color);

}
.link-item-2:hover a,
.link-item-2:hover {
    color: var(--text-color);
}

.link-item-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.8rem;
    height: 4.5rem;
    background-color: var(--accent-color);
    border-radius: 5rem;
}

.link-item-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.8rem;
    height: 4.5rem;
    border-radius: 5rem;
    background-color: var(--general-color);
    box-shadow: 0 0.3em 1em #e9563f29;
}

/* @media screen and (min-width : 36em){
    .link-list{
        display: flex;
    }
    
} */

.link-item-1 a{
    color: #fff;
    font-size: 1.4rem;
}

.link-item-2 a{
    color: var(--accent-color);
    font-size: 1.4rem;
}

.hero .container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.8rem;
}

.picture figure{
    display: flex;
    justify-content: center;
}

figure img {
    border-radius: 2rem;
    margin-bottom: 6rem;
}

.social-list {
    display: flex;
    gap: 2.6rem;
    justify-content: center;
}

.social-item{
    width: 2.6rem;
    height: 2.6rem;
    opacity: 0.5;
    transition: .3s;
}

.social-item:hover,
.social-item:focus {
    opacity: 1;
    transition: .3s;
}

@media screen and (min-width: 48em) {
    .hero .container {
        grid-template-columns: repeat(2, 1fr); 
    }
}
/*UX design*/

.ux-content {
    background-color: var(--general-color);
    padding-top: 5.6rem;
    padding-bottom: 11.2rem;
}

.ux-content .container {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-columns: 1fr; */
    gap: 2.8rem;
    justify-content: center;
}


.ux-content h2 {
    padding-bottom: 2.7rem;
    display: flex;
    justify-content: center;
} 
.ux-content .sous-tilte{
    display: flex;
    justify-content: center;
}

@media screen and (min-width : 45em){
    .ux-content .container{
        grid-template-columns: repeat(2, 1fr);
        
    }
}

/*data */

.data-content {
    background-color: var(--general-color);
    padding-bottom: 11.2rem;
}

.data-content .container {
    display: grid;
    /* grid-template-columns: 32rem; */
    
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 2.8rem;
}

.data-content h2 {
    display: flex;
    justify-content: center;
}
.data-content .sous-tilte{
    display: flex;
    justify-content: center;
}

.right-text {
    display: inline-block;
    justify-content: center;
}

.data-content h2 {
    padding-bottom: 2.7rem;
} 

@media screen and (min-width : 48em){
    .data-content .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .left-picture {
    order: -1;
    }
    .right-text {
    padding-left: 12.1rem;
    }
}

/*front*/

.front-content {
    background-color: var(--general-color);
    padding-bottom: 11.2rem;
}

.front-content .container {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 2.8rem;
}

.front-content h2 {
    padding-bottom: 2.7rem;
    display: flex;
    justify-content: center;
} 

.front-content .sous-tilte{
    display: flex;
    justify-content: center;
}

@media screen and (min-width : 48em){
    .front-content .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Création */

.creation-content {
    background-color: var(--general-color);
    padding-bottom: 11.2rem;
}

.creation-content .container h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

.creation-content .sous-tilte {
    display: flex;
    justify-content: center;
}

.creation-content ol {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 2.8rem;
}

.process-item {
    background-color: var(--text-color);
    padding: 3.3rem;
    text-align: center;  
}

.process-item span {
    color: var(--accent-color);
}

@media screen and (min-width : 36em){
    .creation-content ol{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width : 48em){
    .creation-content ol{
        grid-template-columns: repeat(3, 1fr);
    }
}
/*work*/

.work-connect {
    background-color: var(--general-color);
    padding-bottom: 16rem;
    margin-bottom: 4.2rem;
}

.work-connect .container {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
}


.left-part > .social-list {
    padding-top: 2.7rem;
    justify-content: flex-start;
}

form{ 
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 700;
    padding-bottom: 1.4rem;
    padding-top: 2.4rem;
}

input {
    border: 0;
}

#tell-me {
    padding-bottom: 16rem;
}

textarea{
    background-color: #fff;
    height: 16rem;
    resize: none;
    border: none;
    color: rgba(51, 51, 51, 0.5);
    padding-left: 1rem;
    padding-top: 1rem;
}

.btn {
    background-color: var(--accent-color);
    color: var(--text-color);
    width: 16.8rem;
    height: 4.5rem;
    margin-top: 4rem;
    border: 0;
    border-radius: 5rem;
    transition: .3s;
}

.btn:hover,
.btn:focus {
    background-color: var(--text-color);
    color:var(--accent-color);
    transition: .3s;
}

@media screen and (min-width : 62em){
    .work-connect .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Footer*/

/* .main-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */


footer {
    background-color: var(--text-color);
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
}

.main-footer {
    font-family: montserrat, sans-serif; 
}
.logo-footer {
    /* display: grid; */
    grid-template-columns: 7rem max-content;
    column-gap: 1.8rem;
    padding-bottom: 2rem;
}

.logo-footer img {
    grid-row: span 2;
}
.francois-footer{    
    font-size: 3.7rem;
}

.main-footer p span{   
    font-weight: 700;
}

.text-footer {
    margin-left: 0;
}

@media screen and (min-width: 48em){
    .main-footer .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 48em){
    .logo-footer{
        display: grid;
    }
}

